DATABASE_PROVIDER=sqlite
# DATABASE_PROVIDER=mysql

# MySQL config
# DATABASE_URL=mysql+pymysql://user:password@localhost/dbname

# SQLite config
# DATABASE_URL=sqlite:///./sql_app.db

JWT_SECRET=super_secret_key_change_me
JWT_EXPIRATION_MINUTES=60
HOST=0.0.0.0
PORT=8000
ENVIRONMENT=development
