# Ambientes Virtuais e Variáveis de Ambiente
venv/
env/
.env
.venv/

# Arquivos de Configuração Secretos e Tokens
token.json
credentials.json
*.pem

# Python e Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Logs do Sistema
logs/
*.log

# Dados e Bancos de Dados Locais
*.sqlite3
*.db
postgres_data/
chromadb_data/

# IDEs e Arquivos de Sistema Operacional
.vscode/
.idea/
.DS_Store
*.swp
*.swo
